<div class="container py-3">
  <h2>Pagamenti </h2>

  <div class="card">

    <div class="card-body">
      <div *ngIf="pagamenti.length > 0; else noPagamenti">
        <div *ngFor="let pagamento of pagamenti" class="pagamento">
          <p><strong>Data:</strong> {{ pagamento.data_pagemento | date:'dd/MM/yyyy' }}</p>
          <p><strong>Importo:</strong> {{ pagamento.importo }} €</p>
          <p><strong>Metodo di pagamento:</strong> {{ pagamento.metodo_pagamento }}</p>
          <p><strong>Numero foto pagate:</strong> {{ pagamento.numero_foto_pagate }}</p>
          <p><strong>Numero poesie pagate:</strong> {{ pagamento.numero_poesie_pagate }}</p>
          <p><strong>Ragione del pagamento:</strong> {{ pagamento.ragione_pagamento }}</p>
        </div>
      </div>
      <ng-template #noPagamenti>
        <p class="text-muted">Nessun pagamento disponibile per questo utente.</p>
      </ng-template>
    </div>

  </div>
</div>
