<div class="container">

  <h2 class="mt-3">🪶 Poesie Caricate</h2>
  <div class="void mt-3 px-3 py-4" *ngIf="Poesie.length == 0 && sblocco" >
    <p class="m-0"><i class="fa-solid fa-circle-info mx-2"></i> Non ci sono poesie caricate </p>
  </div>
  <div class="void mt-3 px-3 py-4" *ngIf="!sblocco && Poesie.length == 0 && !bloccoData">
    <p class="m-0"><i class="fa-solid fa-circle-info mx-2"></i> Per caricare le tue opere procedi prima con il pagamento </p>
  </div>

  <div class="void mt-3 px-3 py-4" *ngIf="bloccoData">
    <p class="m-0"><i class="fa-solid fa-circle-info mx-2"></i> Il concorso è terminato, non puoi caricare o eliminare le poesie  </p>
   </div>

  <div class="row row-gap-3 mt-4">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let poesia of Poesie">
        <div class="card mb-3 border-0 shadow">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ poesia.titolo }}</h5>
            <p class="flex-grow-1" [style.white-space]="'pre-line'">{{ poesia.testo }}</p>
            <div><button class="btn btn-danger" (click)="openConfirmModal(poesia.id)"> <i class="fa-solid fa-trash-can"></i> Elimina</button></div>
          </div>
        </div>
      </div>
  </div>

  <h3 class="mt-4" *ngIf="sblocco">Carica le tue Poesie</h3>
  <form  *ngIf="sblocco" [formGroup]="form" (submit)="uploadPoesia()">

    <label for="titolo" class="mt-3">Titolo</label>
    <input type="text" name="titolo" placeholder="Titolo" class="form-control" formControlName="titolo">

    <label for="id_categoria" class="mt-3">Categoria</label>
    <select name="id_categoria" class="form-control" formControlName="id_categoria">
      <option *ngFor="let categoria of Categorie" [value]="categoria.id">{{ categoria.nome_categoria }}</option>
    </select>

    <label for="testo" class="mt-3">Testo</label>
    <textarea name="testo" placeholder="Testo" class="form-control" formControlName="testo"></textarea>

    <button type="submit" class="btn btn-primary mt-3">Carica</button>
  </form>

</div>

    <!-- MODALE DI CONFERMA ELIMINAZIONE -->
    <ng-template #confirmDelete let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Conferma eliminazione</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler eliminare questa poesia?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Annulla</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Elimina</button>
      </div>
    </ng-template>

    <!-- MODALE DI NOTIFICA SUCCESSO/ERRORE -->
    <ng-template #resultModal let-modal >
      <div class="modal-header">
        <h5 class="modal-title">Messaggio</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <p>{{ resultMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Chiudi</button>
      </div>
    </ng-template>
