<div class="container">


  <h2 class="mt-3" *ngIf="Poesie.length > 0">🪶 Poesie Caricate</h2>
  <div  *ngFor="let poesie of Poesie">
    <div class="card mb-3 border-0 shadow">
      <div class="card-body">
        <h5 class="card-title">{{ poesie.titolo }}</h5>
        <p [style.white-space]="'pre-line'">{{ poesie.testo }}</p>
      </div>
    </div>

    <h3 class="mt-4">Carica le tue Poesie</h3>
  <form [formGroup]="form" (submit)="uploadPoesia()">

    <label for="titolo" class="mt-3">Titolo</label>
    <input type="text" name="titolo" placeholder="Titolo" class="form-control" formControlName="titolo">

    <label for="id_categoria" class="mt-3">Categoria</label>
    <select name="id_categoria" class="form-control" formControlName="id_categoria">
      <option *ngFor="let categoria of Categorie" [value]="categoria.id">{{ categoria.nome_categoria }}</option>
    </select>

    <label for="testo" class="mt-3">Testo</label>
    <textarea name="testo" placeholder="Testo" class="form-control" formControlName="testo"></textarea>

    <button type="submit" class="btn btn-primary mt-3 ">Carica</button>
  </form>


  </div>
