<div class="container-fluid container-xl cover">
  <div class="row">
    <!-- colonna sx-->
    <div class="col-12 col-md-7 position-relative py-5 d-none d-md-block">
      <img src="poesia.jpg" class="fluid-img img1">
      <img src="fotografia.jpg" class="fluid-img img2">
      <div class="circle"></div>
    </div>
     <!-- colonna login-->
    <div class=" col-12 col-md-5 py-md-5 px-3 ">
      <div class="form-container p-4 pt-0 ">
        <div class="p-3">
          <h2>Bentornato! 👋🏻</h2>

          <p>Da qui potrai accedere alla tua area riservata per partecipare al concorso del Circolo Airali!</p>

          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
              <input type="text" name="username" placeholder="mariorossi" class="form-control" formControlName="username">
              <input type="password" name="password" placeholder="********" class="form-control mt-3" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Login</button>
            <p class="mt-4">Non hai ancora un account? <a routerLink="register">Registrati</a> </p>
          </form>
        </div>
        <div *ngIf="loginError" class="alert alert-danger mt-3 mx-2" role="alert">
          {{ loginError }}
        </div>

   </div>

      </div>

  </div>

</div>
