
<div class="container text-center">

  <div class="icon-success">
    <i class="fas fa-check-circle"></i>
  </div>

  <div class="message">
    <h2>Pagamento Avvenuto con Successo!</h2>
    <p>Il tuo pagamento è stato completato correttamente. Grazie per aver partecipato al concorso.</p>
  </div>

  <img src="success.png" alt="success" height="120px">

  <div class="details mt-3">
    <p><strong>Importo:</strong> €10.00</p>
    <p><strong>Metodo di pagamento:</strong> Carta di Credito</p>
  </div>

  <button routerLink="/home" class="btn btn-primary button">
    <i class="fas fa-arrow-left"></i> Torna alla Home
  </button>
</div>
