<div class="card ">
  <img class="card-img-top img-clickable"
       [src]="componiment.percorsoFile"
       alt="Card image cap"
       (click)="showImage(componiment.percorsoFile? componiment.percorsoFile : '')">
    <div class="card-body">
  <div class="d-flex justify-content-between">
        <h4 class="card-text">{{ componiment.titolo }}</h4>
        <h4 *ngIf="voto !== undefined">{{ voto }}</h4>
  </div>
      <ng-content></ng-content>
    </div>
</div>


<div *ngIf="isLightboxOpen" class="lightbox" (click)="isLightboxOpen = false">
  <img [src]="selectedImage" class="lightbox-img">
</div>
