.nav-link.active {
  color: white !important;
}
.nav-link.active{
  font-weight: 600;
}
.avatar{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
i{
  font-size: 24px;
}
.logout{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}
 .navbar-right{
  display: flex;
  flex-direction: row;

}
