<nav class="navbar navbar-expand-lg navigazione bg-primary px-4 py-3 mb-3">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleActive()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: isActive }"
    id="navbarTogglerDemo01"
  >
    <a class="navbar-brand" routerLink="/" *ngIf="!isActive"
      ><img src="logo.png" alt="logo" width="48"
    /></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="roles.includes('ROLE_USER')" >
        <a
          routerLink="home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_USER')" >
        <a
          routerLink="/concorsoFoto"
          routerLinkActive="active"
          class="nav-link text-secondary"
          >Concorso Foto</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_USER')" >
        <a
          routerLink="/concorsoPoesie"
          routerLinkActive="active"
          class="nav-link text-secondary"
          >Concorso Poesie</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_USER')">
        <a
          routerLink="/pagamenti"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Pagamenti</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN')">
        <a
          routerLink="/giudici"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Giudici</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_ADMIN')">
        <a
          routerLink="/utenti"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Utenti</a
        >
      </li>
      <li class="nav-item" *ngIf="roles.includes('ROLE_JUDGE')">
        <a
          routerLink="/componimenti"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Componimenti</a
        >
      </li>

      <li class="nav-item" *ngIf="roles.length == 0">
        <a
          routerLink="/auth"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Login</a
        >
      </li>

    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="roles.length !== 0">
        <a role="button" (click)="logout()" class="nav-link text-secondary logout"
          ><i class="fa-solid fa-right-from-bracket" ></i></a
        >
      </li>
      <li class="nav-item" *ngIf="roles.length !== 0">
        <a
          routerLink="/profilo"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          ><img class="avatar" [src]="avatar"
        /></a>
      </li>
    </ul>
  </div>
</nav>
