<div class="container">
  <div class="d-flex justify-content-between ">
    <h2>Profilo</h2>
    <button class="btn btn-primary" (click)="modifyModeFunction()">
      {{modifyMode? "Torna al profilo" : "Modifica Profilo"}}
    </button>
  </div>


  <div *ngIf="!modifyMode">

  <p>Username: {{datiUtente.appUser.username}}</p>
  <p>Nome: {{datiUtente.nome}}</p>
  <p>Cognome: {{datiUtente.cognome}}</p>
  <p>Email: {{datiUtente.email}}</p>
  <p>Telefono: {{datiUtente.telefono}}</p>

  </div>


  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="container mt-4 " *ngIf="modifyMode">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>
    <div class="mb-3">
      <label class="form-label">Cognome</label>
      <input type="text" class="form-control" formControlName="cognome">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Telefono</label>
      <input type="text" class="form-control" formControlName="telefono">
    </div>
    <div class="mb-3">
      <label class="form-label">Avatar</label>
      <input type="file" class="form-control" (change)="onFileChange($event)">
      <img *ngIf="avatarPreview" [src]="avatarPreview" class="img-thumbnail mt-2" style="max-width: 150px;">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Aggiorna Profilo</button>
  </form>
</div>
