<h2>Carica le tue foto</h2>
<div *ngIf="previewUrl">
  <h3>File caricati:</h3>
  <img [src]="previewUrl" alt="Anteprima" width="200" />
</div>

<form (submit)="uploadFile()">
  <div  *ngIf="!selectedFile" class="upload-container">
    <input type="file" #fileInput class="upload" (change)="onFileSelect($event)" accept="image/*" />
    <div class="d-flex flex-column justify-content-center align-items-center up">
      <span class="material-symbols-outlined">upload</span>
      <small>Drag and drop or select a file</small></div>
  </div>


  <button type="submit" *ngIf="selectedFile" class="btn btn-primary mt-3 ">Carica</button>
  <button type="button" *ngIf="selectedFile" (click)="resetFile()" class="btn btn-secondary mt-3">
    Ricarica foto
  </button>
</form>
