.upload{
  opacity: 0;
  height: 100%;
  cursor: pointer;
}
.upload-container{
  border: 1px dashed #ccc;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
  max-width: 400px;
  height: 200px;
  position: relative;
}
.material-symbols-outlined {
  font-size: 32px;
}
.up{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
