<div class="container mt-3">

  <a class="btn link mx-0 px-0" (click)="goBack()">
    <i class="fa-solid fa-arrow-left"></i> Torna ai pagamenti
  </a>

  <h2 class="mt-3">💸 Pagamento in contanti</h2>



  <h4 class="mt-4" >Sezione Poesia</h4>

  <div class="row">

    <div class="col">
      <div class="card shadow" [ngClass]="{ 'disabledCard': poesieBlocco }">
        <div class="d-flex justify-content-between">
          <span class="price">€ {{datiConcorso.prezzo_singolo}}</span>
          <div class="cont">
              <input [disabled]="poesieBlocco" type="radio" name="sezione"  value="poesia-singolo" (change)="onSelectAmount(datiConcorso.prezzo_singolo , 'singolo-poesia')" />
          </div>
        </div>
        <p>Partecipazione con<b> 1 POESIA</b> </p>
      </div>
    </div>

    <div class="col">
      <div class="card shadow" [ngClass]="{ 'disabledCard': poesieBlocco }">
        <div class="d-flex justify-content-between">
          <span class="price">€ {{datiConcorso.prezzo_tre}}</span>
          <div class="cont">
            <input type="radio" [disabled]="poesieBlocco" name="sezione" value="poesia-tre" (change)="onSelectAmount(datiConcorso.prezzo_tre, 'tre-poesia')"  />
          </div>
        </div>
        <p>Partecipazione con <b>3 POESIE</b> (sezioni A, B, C, D) </p>
      </div>
    </div>


  </div>



  <h4 class="mt-4" >Sezione Fotografia</h4>

  <div class="card shadow" [ngClass]="{ 'disabledCard': fotoBlocco }">
    <div class="d-flex justify-content-between">
      <span class="price">€ {{datiConcorso.prezzo_singolo}}</span>
      <div class="cont">
        <input
          type="radio"
          name="sezione"
          value="fotografia"
          (change)="onSelectAmount(datiConcorso.prezzo_singolo, 'fotografia')"
          [disabled]="fotoBlocco" />
      </div>
    </div>
    <p>Partecipazione con un <b>massimo</b> di <b>3 FOTOGRAFIE</b> (sezioni E, F)</p>
  </div>



  <div class="payment-info" >
   <button class="btn btn-primary" (click)="checkout()" [disabled]="!selectedAmount">Paga in contanti {{ selectedAmount }} €</button>
  </div>

</div>

