

input:checked + .slider {
  background-color: #2F958D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2F958D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-toggle::after {
  opacity: 0;
}
.card{
  height: 100%;
  border: 0;
  background-color: #ecf6f5;
  i{
    color: #2F958D;
  }
  b{
    color: #2F958D;
  }
}

