<section class="container mt-3 ">

    <div class="row mb-3">
      <div class="col col-12 col-md-6 ">
        <h1 class="mb-4">Premio Airali 2025</h1>
        Volto alla promozione della cultura e al riconoscimento delle espressioni creative, il <b>Premio Airali </b>propone a tutti gli amanti della <b>poesia</b> e della <b>fotografia</b> di presentare il proprio modo di vedere e percepire la realtà.
        <br>
        <p></p>
        Il Premio mira a raccogliere e riconoscere meritevoli i versi e gli scatti maggiormente significativi, ovvero le <b>opere</b> che in qualche modo e misura <b>riescono a trasmettere</b> ed evocare<b> pensieri e sentimenti</b> quanto più <b>profondi e ricercati</b>.
        <br>
        <p></p>
        Detto Premio si fregia del patrocinio della Regione Piemonte, della Città Metropolitana di Torino, del Comune di San Secondo di Pinerolo, del Dipartimento di Studi Umanistici dell’Università di Torino e dell’AICS.

        <div class="row mt-3">
          <div class="col col-2 "> <img src="regionepiem.png" > </div>
          <div class="col col-2"> <img src="torinocitta.png"> </div>
          <div class="col col-2"> <img src="studi.png"> </div>
          <div class="col col-2"> <img src="sansecondo.png"> </div>
          <div class="col col-2"> <img src="aics.png"> </div>
       </div>

    </div>
      <div class="col col-12 col-md-6 d-flex justify-content-center align-items-center imgCont1 position-relative">

          <img src="premi.jpg" class="copertina">
          <i class="fa-solid fa-pen-nib position-absolute"></i>

      </div>

</div>
</section>
<div class="text-center banner py-5 mt-4 rounded">
  <h5>Scarica il bando del concorso</h5>
  <button class="btn btn-primary text-white" (click)="downloadPDF()">Scarica</button>
</div>

<div class="container">
  <section class="mt-5">
      <div class="row ">

        <div class="col col-12 col-md-4 mb-3">
          <div class="carta py-4 px-3">
            <div class="circle"><i class="fa-regular fa-credit-card"></i></div>
            <h5 class="mt-2">Versa la quota</h5>
            <p class="mt-2">
              <b>10€</b> per 1 componimento <br>
              oppure <b>20€</b> per 3
            </p>
        </div>
        </div>

        <div class="col col-12 col-md-4 mb-3">
          <div class="carta py-4 px-3 ">
            <div class="circle"><i class="fa-regular fa-paper-plane"></i></div>
            <h5 class="mt-2">Invia le tue opere</h5>
            <p class="mt-2">
              entro le ore 24:00 <br> del <b>10/06/2025</b>
            </p>
        </div>
        </div>

        <div class="col col-12 col-md-4 mb-3">
          <div class="carta py-4 px-3 ">
            <div class="circle"><i class="fa-regular fa-star"></i></div>
            <h5 class="mt-2">Vai alla premiazione</h5>
            <p class="mt-2">
              Domenica <b>15 settembre</b> <br> alle ore 15:00
            </p>
        </div>
        </div>

      </div>
  </section>
</div>


<div class="container my-5">
  <div class="row mb-3">
    <div class="col col-12 col-md-6 d-flex justify-content-center align-items-center position-relative imgCont ">

        <img src="foto.jpg" class="copertina d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-camera-retro position-absolute"></i>


    </div>
    <div class="col col-12 col-md-6 mb-4">
      <h4 class="my-4">Tema</h4>
      <p>Il <b>tema fisso</b> del Premio Airali 2025 è <b>“Sorsi di felicità”</b>. Gli autori delle sezioni di poesia e fotografia si sentano liberi di analizzare a loro piacimento questo titolo e trattarlo secondo la loro sensibilità ed esperienza personale. Il presente Concorso propone siano impiegati stili e contenuti originali.
        <br>
        <br>
        l’autore è libero di interpretare questo titolo a proprio piacimento, ovvero:
        <br>

        <ul class="ps-3">
          <li class="mb-2">scegliere di trattare a livello personale o impersonale la tematica contenuta in questo titolo;</li>
          <li>scegliere di elaborare il tema fisso sulla base di ricordi, esperienze, gusto e pensiero personale.</li>
        </ul>

    </div>
  </div>
</div>

<section class="sezioni">
<div class="container py-4">
    <div class="row py-3 ">
      <div class="col col-12 col-md-6 ">

        <h4 class="mt-4">Sezioni di concorso</h4>
        <p class="mt-4 pe-5">La partecipazione è estesa a livello nazionale a tutti i candidati che intendano concorrere con Componimenti
            in lingua italiana o piemontese e/o con fotografie.
      </div>
      <div class="col col-12 col-md-6 ">
        <div class="row row-gap-3">
          <div class="col col-12 col-md-6">
            <div class="carta2 py-4 px-4 ">
            <div class=""><i class="fa-solid fa-feather-pointed"></i></div>
            <h5 class="mt-3">Poesia</h5>
            <p class="mt-2">
              A tema fisso o libero in Italiano o piemontese
            </p>
        </div>
       </div>
          <div class="col col-12 col-md-6 ">
            <div class="carta2 py-4 px-4 ">
              <div class=""><i class="fa-solid fa-camera-retro"></i></div>
              <h5 class="mt-3">Fotografia</h5>
              <p class="mt-2">
                A tema fisso o libero
              </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
