<section class="container mt-3">

    <div class="row">
      <div class="col col-12 col-md-6 ">
        <h2 class="mb-4">Premio Airali 2025</h2>
        Volto alla promozione della cultura e al riconoscimento delle espressioni creative, il <b>Premio Airali </b>propone a tutti gli amanti della <b>poesia</b> e della <b>fotografia</b> di presentare il proprio modo di vedere e percepire la realtà.
        <br>
        <p></p>
        Il Premio mira a raccogliere e riconoscere meritevoli i versi e gli scatti maggiormente significativi, ovvero le <b>opere</b> che in qualche modo e misura <b>riescono a trasmettere</b> ed evocare<b> pensieri e sentimenti</b> quanto più <b>profondi e ricercati</b>.
        <br>
        <p></p>
        Detto Premio si fregia del patrocinio della Regione Piemonte, della Città Metropolitana di Torino, del Comune di San Secondo di Pinerolo, del Dipartimento di Studi Umanistici dell’Università di Torino e dell’AICS.

        <div class="row mt-3">
          <div class="col col-2"> <img src="regionepiem.png"> </div>
          <div class="col col-2"> <img src="torinocitta.png"> </div>
          <div class="col col-2"> <img src="studi.png"> </div>
          <div class="col col-2"> <img src="sansecondo.png"> </div>
          <div class="col col-2"> <img src="aics.png"> </div>

      </div>
      <div class="col col-12 col-md-6 ">

      </div>
    </div>
</div>

<section class="text-center banner py-5 mt-3">
  <h5>Scarica il bando del concorso</h5>
  <button class="btn btn-primary text-white" (click)="downloadPDF()">Scarica</button>
</section>

<section class="mt-5">
    <div class="row ">

      <div class="col col-12 col-md-4">
        <div class="carta py-4 px-3 mx-2">
          <div class="circle"><i class="fa-regular fa-credit-card"></i></div>
          <h4 class="mt-2">Versa la quota</h4>
          <p class="mt-2">
            10€ per 1 componimento <br>
            oppure 20€ per 3
          </p>
      </div>
      </div>

      <div class="col col-12 col-md-4">
        <div class="carta py-4 px-3 ">
          <div class="circle"><i class="fa-regular fa-paper-plane"></i></div>
          <h4 class="mt-2">Invia le tue opere</h4>
          <p class="mt-2">
            entro le ore 24:00 <br> del 10/06/2025
          </p>
      </div>
      </div>

      <div class="col col-12 col-md-4">
        <div class="carta py-4 px-3 ">
          <div class="circle"><i class="fa-regular fa-star"></i></div>
          <h4 class="mt-2">Vai alla premiazione</h4>
          <p class="mt-2">
            Domenica 15 settembre <br> alle ore 15:00
          </p>
      </div>
      </div>





    </div>
</section>
