<div class="container py-3">
  <h2>🏆 Classifica</h2>

<div class="d-flex justify-content-between align-items-center">
  <div>
      <select class="form-select" (change)="onCategoriaChange($event)" aria-label="Seleziona categoria">
        <option *ngFor="let categoria of Categorie" [value]="categoria.nome_categoria">
          {{ categoria.nome_categoria }}
        </option>
      </select>
  </div>

    <div>
      <button class="btn btn-primary my-3 mx-2" (click)="scaricaPDF()">Scarica PDF</button>
    </div>
</div>


<div id="classifica">
  <table class="table mt-4" *ngIf="!sblocco">
    <thead>
      <tr>
        <th>#</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Media Voti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poesia of Poesie$ | async; let i = index">
        <td *ngIf="i>2">{{ i + 1 }}</td>
        <td *ngIf="i == 0">🥇</td>
        <td *ngIf="i == 1">🥈</td>
        <td *ngIf="i == 2">🥉</td>
        <td>{{ poesia.titolo }}</td>
        <td [style.white-space]="'pre-line'">{{ poesia.nome }} {{ poesia.cognome }}</td>
        <td>{{ poesia.mediaVoti }}</td>
          <!-- in questo punto voglio inserire un pulsante per visualizzare la poesia in una modale devo passarmi poesia-->
          <td>
            <button class="btn btn-primary btn-sm" (click)="apriModale(poesia)">Leggi</button>
          </td>
      </tr>
    </tbody>
  </table>

  <ng-template #poesiaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ poesiaSelezionata.titolo }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p class="flex-grow-1" [style.white-space]="'pre-line'">{{ poesiaSelezionata.id }}</p>
    </div>
  </ng-template>

  <table class="table mt-4" *ngIf="sblocco">
    <thead>
      <tr>
        <th>#</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Media Voti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foto of Foto$ | async ; let i = index">
        <td *ngIf="i>2">{{ i + 1 }}</td>
        <td *ngIf="i == 0">🥇</td>
        <td *ngIf="i == 1">🥈</td>
        <td *ngIf="i == 2">🥉</td>
        <td>{{ foto.titolo }}</td>
        <td [style.white-space]="'pre-line'">{{ foto.nome }} {{ foto.cognome }}</td>
        <td>{{ foto.mediaVoti }}</td>
        <!-- in questo punto voglio inserire un pulsante per visualizzare l'immagine in una modale-->
        <td>
          <button class="btn btn-primary btn-sm" (click)="apriModaleFoto(foto)">Visualizza</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #fotoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ fotoSelezionata.titolo }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body text-center">
    <img [src]="baseUrl + 'uploads/fotografie/' + (fotoSelezionata.percorsoFile.split('/').pop())" class="img-fluid imgDem" alt="Foto selezionata" >
  </div>
</ng-template>

<div class="d-flex justify-content-between p-2 mt-3">
  <!-- Paginazione personalizzata -->
  <button
    class="btn btn-primary"
    [disabled]="service.page <= 1"
    (click)="changePage(service.page - 1)"
  >
  <i class="fa-solid fa-arrow-left"></i>
  </button>

  <!-- Numeri delle pagine -->

  <div class="pagination-numbers">
    @for (page of pages$ | async; track page) {
    <button
      [class.active]="page === service.page"
      class="btn border-0"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>
  }
  </div>


  <button
    class="btn btn-primary"
    [disabled]="service.page >= service._pages$.value .length"
    (click)="changePage(service.page + 1)"
  >
  <i class="fa-solid fa-arrow-right"></i>
  </button>

</div>



</div>
