<div class="container">
  <h2>Contributo di Partecipazione al Concorso</h2>

  <div class="payment-details">
    <p>A sostegno delle spese organizzative, è richiesto un contributo di partecipazione per il concorso. Scegli la sezione a cui desideri partecipare e procedi con il pagamento.</p>
  </div>

  <div class="info">
    <p class="m-0"> <i class="fa-solid fa-circle-info mx-2"></i> {{fotoBlocco && poesieBlocco ? 'Grazie per aver partecipato al concorso!' : 'Per completare il pagamento, seleziona la tua quota e procedi con il pagamento online.'}} </p>
  </div>


  <h4 class="mt-4" *ngIf="!poesieBlocco">Sezione Poesia</h4>

  <div class="row" *ngIf="!poesieBlocco">

    <div class="col">
      <div class="card shadow">
        <div class="d-flex justify-content-between">
          <span class="price">€ 10</span>
          <div class="cont">
              <input type="radio" name="sezione"  value="poesia-singolo" (change)="onSelectAmount(10, 'singolo-poesia')" />
          </div>
        </div>
        <p>Partecipazione con<b> 1 POESIA</b> </p>
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <div class="d-flex justify-content-between">
          <span class="price">€ 20</span>
          <div class="cont">
            <input type="radio" name="sezione" value="poesia-tre" (change)="onSelectAmount(20, 'tre-poesia')" />
          </div>
        </div>
        <p>Partecipazione con <b>3 POESIE</b> (sezioni A, B, C, D) </p>
      </div>
    </div>


  </div>



  <h4 class="mt-4" *ngIf="!fotoBlocco">Sezione Fotografia</h4>

<div class="card shadow" *ngIf="!fotoBlocco">
        <div class="d-flex justify-content-between">
          <span class="price">€ 10</span>
          <div class="cont">
            <input type="radio" name="sezione" value="fotografia" (change)="onSelectAmount(10, 'fotografia')" />
          </div>
        </div>
        <p>Partecipazione con un <b>massimo </b>di <b>3 FOTOGRAFIE</b> (sezioni E, F)</p>
      </div>



  <div class="payment-info" >
    <app-payment-button  [amount]="selectedAmount * 100" [name]="concorsoName" [sezione] ="sezione" [numeroComponimenti]="numeroComponimenti" [ragione] ="ragione" [selectedAmount]="selectedAmount"></app-payment-button>
  </div>

</div>
